@font-face {
  font-family: "Work Sans";
  src: url("../../fonts/WorkSans-Light.ttf");
}
* {
  margin: 0px;
  padding: 0px;
  padding-left: 0px;
}

body {
  font-family: "Work Sans";
}

html {
  background-color: #111111;
}

nav {
  background-color: #000000;
  border-bottom: gray;
}
nav div button {
  color: white;
}
nav div ul li {
  margin: 25px 30px;
  list-style: none;
}
nav div ul li a {
  color: white;
  text-decoration: none;
}

header {
  padding: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../Images/img-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 120px;
}
header div {
  display: flex;
  align-content: center;
}
header div img {
  width: 300px;
}
header .div-header-2 {
  display: flex;
  border: 3px solid white;
  transition: 0.5s;
}
header .div-header-2 a {
  text-align: center;
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
}

.div-header-2:hover {
  background-color: gray;
}

.section-container-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  padding: 120px;
  border: 1px solid black;
  margin-top: 130px;
}
.section-container-1 .div-container-1 h1 {
  color: white;
  text-decoration: underline;
}

.section-container-2 {
  display: flex;
  background-color: #111111;
}
.section-container-2 .div-container-2 {
  display: flex;
}
.section-container-2 .div-container-2 .ul-container {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: center;
}
.section-container-2 .div-container-2 .ul-container .li-item-2 {
  list-style: none;
}
.section-container-2 .div-container-2 .ul-container .li-item-2 .img-item {
  width: 420px;
  height: 420px;
  transition: 0.5s;
  overflow: hidden;
}

.img-item:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  cursor: pointer;
}

.section-container-3 {
  margin-top: 20px;
  padding: 250px;
  background-image: url(../Images/Fondo-Section-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section-container-3 p {
  text-align: center;
  color: white;
}

footer {
  background-color: #000000;
  padding: 100px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer div ul li {
  list-style: none;
}
footer div ul li a {
  border: 1px solid white;
  border-radius: 7px;
  padding: 10px;
  background-color: white;
}
footer div ul li a img {
  width: 30px;
  margin: 20px 5px;
}
footer div {
  display: flex;
}
footer div img {
  width: 250px;
}

.historia {
  background-color: #111111;
  margin-top: 120px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.historia .div-img-container {
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.historia .div-p-container {
  color: white;
  text-align: center;
}

.actualidad-container {
  margin-top: 120px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actualidad-container .div-actualidad-1 p {
  color: white;
  margin: 10px 30px;
  text-align: center;
}
.actualidad-container .div-actualidad-2 iframe {
  margin-top: 25px;
  width: 1200px;
  height: 700px;
  box-shadow: 8px 8px 8px white;
}
.actualidad-container .div-actualidad-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  padding: 100px 0px;
  border: 1px solid gray;
  margin: 30px 0px;
}
.actualidad-container .div-actualidad-3 h2 {
  color: white;
  text-decoration: underline;
  margin-bottom: 5px;
}
.actualidad-container .div-actualidad-3 .img-tour {
  transition: 1s;
}

.img-tour:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.integrantes-container {
  background-color: #111111;
  margin-top: 200px;
}
.integrantes-container div div p {
  color: white;
  text-decoration: underline;
}

@media (max-width: 480px) {
  header {
    padding: 50px;
  }
  header div img {
    width: 200px;
  }
  .section-container-2 .div-container-2 .ul-container .li-item-2 .img-item {
    width: 200px;
    height: 200px;
  }
  .section-container-3 {
    padding: 50px;
  }
  .historia .div-img-container .img-historia {
    width: 250px;
    padding: 0px;
  }
  .historia .div-p-container p {
    font-size: 12px;
    margin: 0px 30px;
    padding: 0px;
  }
  .actualidad-container .div-actualidad-2 iframe {
    width: 300px;
    height: 200px;
    box-shadow: none;
  }
  .actualidad-container .div-actualidad-3 {
    padding: 0px;
  }
  .actualidad-container .div-actualidad-3 .img-tour {
    width: 300px;
    height: 200px;
  }
}
@media (min-width: 481px) and (max-width: 1200px) {
  header {
    padding: 120px;
  }
  .section-container-1 {
    width: auto;
  }
  .section-container-2 .div-container-2 .ul-container .li-item-2 .img-item {
    width: 300px;
    height: 300px;
  }
  .section-container-3 {
    padding: 100px;
  }
  .historia .div-img-container .img-historia {
    width: 450px;
    padding: 0px;
  }
  .historia .div-p-container p {
    font-size: 12px;
    margin: 0px 30px;
    padding: 0px;
  }
  .actualidad-container .div-actualidad-2 iframe {
    width: 480px;
    height: 300px;
    box-shadow: none;
  }
  .actualidad-container .div-actualidad-3 {
    padding: 0px;
  }
  .actualidad-container .div-actualidad-3 .img-tour {
    width: 480px;
    height: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
