@media (max-width: 480px) {
    header {
        padding: 50px;
        div {
            img {
                width: 200px;
            }
        }
    }

    .section-container-2 {
        .div-container-2 {
            .ul-container {
                .li-item-2 {
                    .img-item {
                        width: 200px;
                        height: 200px;
                    }
                }
            }
        }
    }

    .section-container-3 {
        padding: 50px;
        
    }

    .historia {

        .div-img-container {
            .img-historia {
                width: 250px;
                padding: 0px;

            }
        }

        .div-p-container {

            p {
                font-size: 12px;
                margin: 0px 30px;
                padding: 0px;

            }
        }
    }
}