header {
    padding: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../Images/img-1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
        div{ 
            display: flex;
            align-content: center;
            img {
                width: 300px;
            }
        }
        .div-header-2 {
            display: flex;
            border: 3px solid white;
            a {
                text-align: center;
                color: white;
                font-size: 20px;
                text-decoration: none;
                padding: 10px;
            }
        }
}