
.integrantes-container {
    background-color: #111111;
    margin-top: 200px;
    div {
        div {
            p {
                color: white;
                text-decoration: underline;
            }
        }
    }
}