.section-container-2 {
    display: flex;
    background-color: #000000;
    .div-container-2 {
        display: flex;
        .ul-container {
            display: flex;
            flex-wrap: wrap;
            padding-left: 0px;
            justify-content: center;
            .li-item-2 {
                list-style: none;
                .img-item {
                    width: 420px;
                    height: 420px;
                    
                }
            }
        }
    }
}