.section-container-3 {
    margin-top: 20px;
    padding: 250px;
    background-image: url(../../Images/Fondo-Section-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    p{
        text-align: center;
        color: white;
    }
}