.section-container-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: gray;
        padding: 120px;
        border: 1px solid black;
        margin-top: 130px;
    .div-container-1 {
            h1 {
                color: white;
                text-decoration: underline;
            }
    }
}

